{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    {% endblock %}
    <meta charset="UTF-8">
    <link rel = "stylesheet" href="{% static 'css/bootstrap.min.css'%}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class ="navbar-brand" href="\">장고 게시판</a>
        <a class ="navbar-brand" href="/logout"> LOGOUT </a>
    </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
 </body>
</html>
